<!DOCTYPE html>

<html>
    <head>
        <style type="text/css">
            canvas {
                padding-left: 0;
                padding-right: 0;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 1000px;
            }
        </style>
        <link href="../static/indexstyle.css" rel="stylesheet"/>
    </head>

    <body>

        <center><img src="https://cdn.shopify.com/s/files/1/0920/6014/products/Screen_Shot_2018-02-20_at_2.25.36_PM_e8ea1b27-ef85-4a00-936e-e1f43fcd6c4e_1024x.png?v=1571495927" height=300px width = 460px><img/></center>
        <canvas id='canvas' width=1000 height=550>This canvas cannot be displayed</canvas>

        <script src='../static/index.js'></script>

    </body>
</html>
